
/*Шрифт Varela*/

@font-face {
  font-family: 'VarelaRound';
  src: url('VarelaRound.eot');
  src: url('VarelaRound.woff2') format('woff2'),
       url('VarelaRound.woff') format('woff'),
       url('VarelaRound.ttf') format('truetype'),
       url('VarelaRound.svg#VarelaRound') format('svg'),
       url('VarelaRound.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Шрифт  ProximaNova-Regular*/
	@font-face {
			font-family: "ProximaNova-Regular";
			src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot"),

			url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
			url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"),
			url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#webfont") format("svg");
			font-style: normal;
			font-weight: normal;
	}



	@font-face {
			font-family: "LatoRegular";
			src: url("../fonts/LatoRegular/LatoRegular.eot");
			src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
			url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("../fonts/LatoBold/LatoBold.eot");
			src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBold/LatoBold.woff") format("woff"),
			url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("../fonts/LatoItalic/LatoItalic.eot");
			src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
			url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("../fonts/LatoLight/LatoLight.eot");
			src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLight/LatoLight.woff") format("woff"),
			url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
			src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}




